
  .about{
    width:90vw;
    margin-top: 10px;
     margin-left:20px;
    padding: 15px;
   
  }
  
  .imageGrid{
          display: grid;
          width:70vw;
          height:450px;
          margin-left: 10px;
          padding: 10px;
          padding-left: 20px;
          grid-template-columns: 170px 170px 170px 170px ;
          grid-template-rows: 200px 200px ;
          grid-gap:8px;
          
      }
      .item-1{
          grid-column: 1/4;
          grid-row: 1/3;
          
      
      }
      .item-1 img{
          width:520px;
          height:410px;
          margin-left: 20px;
          background-repeat: no-repeat0;
          background-size: cover;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
         
      }
       
      .item-2{
           
          grid-column: 4/5;
          grid-row:1/2;
      }  
      .item-2 img{
          height:200px;
          width:350px;
           margin-left: 20px;
          background-size: cover;
          
         
          
      }
      .item-3{
          grid-column: 4/6;
          grid-row:2/4;
           
      }
      .item-3 img{
          height:200px;
          margin-left: 20px;
          width:350px;
          background-size: cover;
         
          
      }
      .item-4{
          grid-column: 8/6;
          grid-row:1/2;
         
      }
      .item-4 img{
          height:200px;
          
          width:325px;
          background-size: cover;
          border-top-right-radius: 20px;
       
   
          
      }
      .item-5{
          grid-column:6/8;
          grid-row:2/4;
           
      }
      .item-5 img{
          height:200px;
          width:325px;
           
          background-size: cover;
          border-bottom-right-radius: 20px;
          
      }
      p{
        font-size: 12px;
        font-weight: 400;
         
        
       }
       /* media queries on max-width:600px */
       
       @media only screen and (max-width: 600px) {
      
       .imageGrid{
       display:flex;
       flex-direction: column;
       width: 200px;
       height:200px;
      }
      .item-1 img{
        width:430px;
        height:200px;
        padding:5px;
        border-radius: 15px;

      }
      .item-2 img{
        display: none;
      }
      .item-3 img{
        display: none;
      }
      .item-4 img{
        display: none;
      }
      .item-5 img{
        display: none;
      }
      .booking-left{
        font-size: 12px;
      }
      .booking-right{
        font-size: 12px;
      }
      p{
        font-size: 12px;
      }
      h2{
        
        font-size: 15px;
      }
      h5{
        font-size: 14px;
      }
      .review{
        display: flex;
        flex-direction: column;
      }
      .review_logo img{
          width:140px;
          height:50px;
           
      }
      h4{
        font-size: 16px;
      }
      .review-right{
  width:100%;
  height:50vh;
}
.map{

height: 20px;
margin-left: 50px;
padding: 10px;
 
}
.about{
  width:100%;
   
}

.row {
display: none;
}
.d-flex{
display: none;
}
 
.review-left{
  display: none;
}
.review-right .reserved{
  width: 380px;
}
 
 
footer{
  display: none;
}
iframe{
  width: 490px;
  height: 300px;
  }
  .px-5{
   font-size: 12px;
  }
  .booking {
    width: 50vw;
    height: 100vh;
    margin-top: 100px;
  }
  .booking-left {
    margin-left: 10px;
  }
  .booking-right {
    margin-right: 30px;
  }
       }
      
      /* styling ends here */
      