/* styling starts here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Bitter', serif;
}

html{
    font-size: 80.5%;
}


.error-wrapper{
    width: 90%;
    height: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error-wrapper > .image-wrapper{
    width: 75%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.error-wrapper > .image-wrapper > img{
    height: 100%;
    width: 100%;
}

.error-wrapper > .info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.error-wrapper > .info-wrapper > h1,h2{
    text-align: left;
}

.error-wrapper > .info-wrapper > h1>span{
    font-size: 3.5rem;
    color: #f22349;
    letter-spacing: 0.05em;
}

.error-wrapper > .info-wrapper > h1{
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.error-wrapper > .info-wrapper > h2{
    margin-top: 1rem;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 3rem;
}

.error-wrapper > .info-wrapper > p{
    margin-top: 1rem;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 3rem;
}

.error-wrapper > .info-wrapper > p>a{
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5rem;
    margin-right: 5px;
    color:  #f22349;
}

.error-wrapper > .info-wrapper > p>a:hover{
    text-decoration: underline;
}


 /* media queries om max-width:600px */
@media only screen and (max-width: 600px) {
    .error-wrapper > .image-wrapper {
      
      
        background-position: center;
        background-size: cover;
        width:100% ;
  
 
    }
    .error-wrapper{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .error-wrapper > .info-wrapper{
        display: flex;
        flex-direction: column;
      
       
    }
    
    .error-wrapper > .info-wrapper > h1,h2{
        text-align: left;
    }
    
    .error-wrapper > .info-wrapper > h1>span{
        font-size: 1.7rem;
        color: #f22349;
        letter-spacing: 0.05em;
    }
    
    .error-wrapper > .info-wrapper > h1{
        font-size: 1.7rem;
        text-align: center;
       
    }
    
    .error-wrapper > .info-wrapper > h2{
        margin-top: 1rem;
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 1rem;
        text-align: center;
    }
    
    .error-wrapper > .info-wrapper > p{
        margin-top: 1.5rem;
        font-size: 1rem;
        text-align: center;
    }
    
    .error-wrapper > .info-wrapper > p>a{
        font-weight: bold;
        text-decoration: none;
        font-size: 1.5rem;
        margin-right: 5px;
        color:  #f22349;
        text-align: center;
    }
}
/* styling ends here */