.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color:white;
   position: fixed;
   top:0px;
   width: 100%;
   height: 90px;
   border-bottom: 1px solid rgb(212, 210, 210);
   z-index:1;
   
    
}

.logo img{
   width: 130px;
   margin-left:45px;
}
.navLink{
   display: flex;
   align-items: center;
   list-style: none;
   margin-top: 15px;
   border: 1px solid rgb(144, 144, 144);
   border-radius: 50px;
   padding: 7px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.navLink li{
   margin: 10px;
   font-size: 15px;
   font-weight: bold;
   margin-right: 10px;
   /* border-right: 2px solid rgb(194, 190, 190); */
}

.navLink li a{
   text-decoration: none;
   color: black;
}
.navLink span{
   width:40px;
   height:40px;
   background-color: #FF385C;
   border-radius: 50%;
   padding-right: 15px;
}
.navLink span .fa-solid{
   font-size: 15px;
   color: white;
   margin-top: 12px;
   margin-left: 10px;
   text-align: center;
    
   
}
.header-right{
   display: flex;
   list-style: none; 

   

}
.host{
   margin-top: 10px;
   
}
.host span{
    
   font-size: 18px;
   
}
.host span a{
   text-decoration: none;
   color: black;
}
.fa-globe{
    font-size: 20px;
    margin-left:12px;
}

.dropdown{
   border:1px solid black;
   margin-left:15px;
 
} 
 
.nav-item{
   list-style: none;
   border: 1px solid rgb(10, 10, 10);
   border-radius: 50px;
   padding:10px;
 
 

}
 
 /* details page style start here */
 .booking{
    width:100vw;
    height:100vh;
    margin-top:100px;
   
 }
   
 /* .cards img{
    display: block;
    width: 90%;
    height:500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
 } */
 h2{
    margin-left: 10px;
 
 }
 
 .booking-icon{
    display: flex;
    justify-content: space-between;
 }
 .booking-left{
    margin-left: 50px;
 }
 .booking-right{
    margin-right: 50px;
 }

 .map{
    display: block;
    margin-left: 50px;
    padding: 10px;
   
 }
 .review{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    height:90vh;
 
    margin-left: 60px;
    background-color: white;

 }
  .review-left{
    width:100%;
    height:90vh;
    background-color: white;
    border: 1px solid white;
    margin-top: 20px;
    grid-column: 1 / span 2;
 
 }
 .review-right{
    width:100%;
    height:90vh;
    background: linear-gradient(to right, #e61830 0%, #639acc 100%);
    border: 1px solid transparent;
    margin-top: 20px;
   
 
 
 }
 .review_logo img{
    width: 200px;
    height:60px;
    padding: 10px;
  
 }
  p{
 font-size: 20px;
margin-left: 10px;
 }
 .offers{
    margin-top: 10px;
    margin-left: 5px;
 }
 h4{
    margin-left: 5px;
    margin-top: 10px;
 }
 
.reserve{
    width: 90%;
    height:100vh;
    border:1px solid white;
    margin-left: 60px;
    margin-top: 10px;
    background-image: url("https://images.unsplash.com/photo-1631049307264-da0ec9d70304?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWwlMjByb29tfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: 100%;
    background-repeat: no-repeat;
 

  
}
.reserved{
    display: block;
    align-items:center ;
    width: 80%;
    height:70vh;
    border:1px solid transparent;
    background-color: white;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 30px;
    padding: 15px;
}
.form-group{
    width:280px;
    
   
    
}
.submit-btn{
    background-color: crimson;
    border:1px solid crimson;
    border-radius: 5px;
    color:white;
    height: 30px;
}
 
 
/* footer section starts here */
/* footer{
   background-color:white;
   font-family:'Helvetica',sans-serif;
   position:fixed;
   bottom: 0;
   left:0px;
   border-top: 1px solid gray;
   padding: 10px;
   height:40px;
   width:100%;
   
} */


 
/* 
  footer ul li{
    text-align: center;
    display: inline-block;
    margin: 0 10px;

 } 
 .main-footer{
   display:flex;
   justify-content: space-between;
 } */

 /* #bottom_footer{
position: absolute;
bottom: 0;
 } */
 